/**
  *	@name 667
  *	@author 902
  *	@version 1.0.1
  *	@description Highly customized and customizable theme for Discord
  * @source https://github.com/usrr-902/667/667.theme.css                                                                                                                                                                                                                                                 
*/
@import url('https://usrr-902.github.io/usrr-902/BetterDiscordAddons/Theme/667/667.theme.css');

:root {
  --667-bg: url(https://i.imgur.com/weOUkrT.png);
  --667-home-icon: url(https://imgur.com/gallery/667-logo-RddyweP);
  --667-color1: #006400;
  --667-color2: #000000;
  --667-color3: #DFFF00;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
}
