/**
 * @name 667Theme
 * @author usrr-902
 * @version 1.0
 * @description Thème simple noir & vert style 667 compatible Vancord
 */

:root {
  --background-primary: #0a3d27;  
  --background-secondary: #000000; 
  --text-normal: #9afc86;          
  --scrollbar-thumb: #5ca65c;
  
  
  --background-image: url('https://i.imgur.com/your667logo.png');
}

.theme-dark {
  background-color: var(--background-secondary) !important;
  color: var(--text-normal) !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 120px 120px;
}


.theme-dark .content-2CLwUE,
.theme-dark .container-1giGLh {
  background-color: var(--background-primary) !important;
  border-radius: 10px;
  opacity: 0.9;
}


.theme-dark .markup-2BOw-j,
.theme-dark .messageContent-2qWWxC {
  color: var(--text-normal) !important;
}


.theme-dark ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb) !important;
  border-radius: 10px;
}


.theme-dark .boxShadow-eYRo6S {
  box-shadow: none !important;
}
