/**
 * @name Discord-
 * @author usrr-902
 * @version 1.0.0
 * @description A sleek, customizable Discord theme.

*/
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-source.theme.css');

.theme-dark {
  --dplus-backdrop: none;

  
  --dplus-accent-color-hue: 140;
  --dplus-accent-color-saturation: 50%;
  --dplus-accent-color-lightness: 35%;

 
  --dplus-foreground-color-hue-base: 140;
  --dplus-foreground-color-hue-links: 140;
  --dplus-foreground-color-saturation-amount: 0.4;
  --dplus-foreground-color-lightness-amount: 1.4;

 
  --dplus-background-color-hue: 140;
  --dplus-background-color-saturation-amount: 0.2;
  --dplus-background-color-lightness-amount: 0.05;
  --dplus-background-color-alpha: 0.85;
}

.theme-light {
  --dplus-backdrop: none;

  --dplus-accent-color-hue: 140;
  --dplus-accent-color-saturation: 50%;
  --dplus-accent-color-lightness: 35%;

  --dplus-foreground-color-hue-base: 140;
  --dplus-foreground-color-hue-links: 140;
  --dplus-foreground-color-saturation-amount: 0.4;
  --dplus-foreground-color-lightness-amount: 1.4;

  --dplus-background-color-hue: 140;
  --dplus-background-color-saturation-amount: 0.2;
  --dplus-background-color-lightness-amount: 0.05;
  --dplus-background-color-alpha: 0.85;
}

:root {
  --dplus-font-ui: 'Poppins';
  --dplus-font-body: 'Roboto';
  --dplus-font-header: 'Righteous';

  --dplus-radius-ui: 10px;
  --dplus-radius-avatar: 20%;
  --dplus-radius-server: 20%;

  --dplus-spacing-ui: 10px;
  --dplus-spacing-app: 10px;

  --dplus-icon-avatar-chat: 64px;
  --dplus-icon-avatar-list: 32px;
  --dplus-icon-avatar-profile: 80px;
}
